# Build artefacts .NET
**/bin/
**/obj/
**/publish/
**/TestResults/

# Ancien prototype
dotnet/

# IDE / OS
.vs/
.vscode/
**/*.user
**/*.suo
**/.DS_Store
**/Thumbs.db

# Git
.git/
.gitignore

# CI / deploy local
.github/
deploy/

# Fichiers secrets / env
.env
.env.*
secrets.json
**/appsettings.Production.json

# Logs
logs/
*.log
